*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#navbar ul {
    display: flex;
    justify-content: space-evenly;
}
#navbar ul li{
    list-style: none;
    text-decoration: none;
    align-items: center;

}
#navbar ul li a{
    text-decoration: none;
    justify-content: space-evenly;
    
}
#navbar img{
    width: 10%;
    height:5px;
    border-radius: 90px;
}