/*  h1{
    color: blue;
    border-style: dotted;
    border-left: 1px solid black ;
    border-right:  5px dotted pink;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 50px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100px;
    height: 50px;
    text-align: center; 
} */
#circle{
    width: 150px;
    height: 150px;
   border: 2px solid;  /* WIDTH style and color  */
    border-radius: 50%;
    margin-left: 50%;
    border-style: groove;

}

/* .Okk{
    color:aqua;
    background-color: brown;
    display: flex;
    justify-content: center;
     justify-content: space-between;  
     justify-content: space-around;  
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
} */